<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
         backupGlobals="true"
         colors="true"
         failOnRisky="true"
         numberOfTestsBeforeGarbageCollection="1"
         bootstrap="test/bootstrap.php">
    <php>
        <ini name="display_errors" value="Off"/>
        <ini name="display_startup_errors" value="Off"/>
        <ini name="memory_limit" value="-1"/>
    </php>
</phpunit>

